<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="box" id="heading">
      <!-- Day -->
      <% if (day === "Sunday" || day === "Saturday") {%>
      <h1><%= day %> List</h1>
      <% } else {%>
      <h1><%= day %> List</h1>
      <% } %>
      <!-- Date -->
      <p>Today is: <%= date %></p>
    </div>

    <div class="box">
      <!-- List -->
      <% for(i in items) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= items[i] %></p>
      </div>
      <% } %>
      <!-- Input stuff -->
      <form action="/" method="post">
        <input
          type="text"
          name="item"
          autofocus="true"
          autocomplete="off"
          placeholder="New Item"
        />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
