<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <style>
      body {
        background-color: #171717;
      }
      li {
        color: #cb2026;
      }
    </style>
  </head>

  <body>
    <% if (day === "Sunday" || day === "Saturday") {%>
    <h1 style="color: purple"><%= day %> List</h1>
    <% } else {%>
    <h1 style="color: #ff8000"><%= day %> List</h1>
    <% } %>

    <br /><br />

    <ul>
      <% for(i in items) { %>
      <li><%= items[i] %></li>
      <% } %>
    </ul>

    <br /><br />

    <form action="/" method="post">
      <input type="text" name="item" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
